/* ჰედერი */
.container{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid red;
    background-color:gainsboro 
}
header{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left: 152px;
    padding-right: 161px;
    border-radius: 0 0 25px 25px; 
}  
.header_icons{
    display: flex;
    gap: 59px;
}

 /* section 1 */

 .section1{
    /* width: 90%;
    height: 716px;
    margin: 0 auto;
    position: relative;
    border: 3px solid blue; */
 }
 .relativ{
    position: relative;
    width: 90%;
    height: 716px;
    margin: 0 auto;
    position: relative;
    border: 3px solid blue;
   
 }
 .section_img{
    width: 100%;
    height: 100%;
 }
 .section_text{
    align-items: center;
    width: 355px;
    height: 89px;
    color: #fdf50e;
    font-size: 24px;
    position: absolute;
    top: 319px;
    right: 420px;
    text-align: center;
   
    
    
    

   
 }